@import 'compass/reset';
@import "compass/css3/box-sizing";

// GENERAL          =============================================

*{
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
    border: 0;
   -webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: none;
}